<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flashcard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SCREEN7_Annotations"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SCREEN9_TestResultScreen"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SCREEN8_TestMode"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SCREEN4_InsertNewDeck"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SCREEN6_EditCard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SCREEN3_EditDeckName"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_edit_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SCREEN5_InsertCard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SCREEN2_Main2Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SCREEN1_MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NotificationReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>